.container {
  display: flex;
  flex-direction: column;

  background-color: #ddd;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  /* background: #fff; */
}

.auth-form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
}

.form-item {
  display: flex;
  justify-content: space-between;
}
