.header-container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(3, 59, 156, 0.772);
  color: white;
  padding: 10px;
  /* border: solid blue; */
}

.left-header,
.mid-header,
.right-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* font-size: 16px; */
}

.mid-header .btn {
  width: 20px;
}

.header-container a,
.btn {
  color: white;
}

.header-container .btn {
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 6px 10px;
  /* background-color: rgba(125, 12, 125, 0.546); */
  /* box-shadow: 0 0 5px 1px black; */
}

.github-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/* these applies to every button */
button:hover {
  box-shadow: 0 0 5px 2px white;
}
button:active {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.374);
  transition: 0.1s ease-out;
}

.git-logo {
  border: none;
  width: 20px;
  border-radius: 10px;
}

/* media lists menu*/
.media-list-menu {
  z-index: 999;
  padding: 0;
}

.media-list-menu .btn {
  width: 100px;
}

.media-list-items {
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 0;
  width: 140px;
  display: flex;
  flex-direction: column;

  align-items: center;
  /* background-color: rgb(43, 116, 226); */
  background-color: rgb(97, 10, 97);

  li {
    width: 140px;
    padding: 5px;
  }
  li:hover {
    /* background-color: blue; */
    background-color: rgba(29, 9, 125, 0.813);
  }
}

.is-menu-active {
  position: absolute;
  display: none;
}
.media-list-menu:hover .is-menu-active {
  display: block;
}
/* this most likely won't work */
.btn:hover .is-menu-active {
  display: block;
}

/* styles for ham menu */
.mobile-menu {
  position: absolute;
  top: 60px;
  right: 0;

  /* border: 1px solid white; */
  border-radius: 1rem;

  width: 300px;
  /* height: 90%; */
  background: #000000c1;
  color: white;

  z-index: 1;
  text-align: start;

  h3 {
    border-radius: 0.5rem;

    background-color: rgba(0, 0, 0, 0.432);
  }
  .avatar {
    width: 10%;
    border: 1px solid white;
  }
}

.mobile-menu .menu-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding: 0;

  background-color: #333;
  border-radius: 1rem;
}

.menu-list-label {
  display: block;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  background-color: rgba(116, 38, 38, 0.842);
  width: 100%;
  color: white;
  padding: 0.5rem;
  border-bottom: 1px solid white;
  border-radius: 0.5rem;
}
.mobile-menu .menu-item {
  margin: 10px 0;
}

.block {
  display: block;
}
.hidden {
  display: none;
}
/* styles end for ham menu */

/* show hamburger on small screens */
@media (max-width: 900px) {
  /* .hambergar-menu {
    display: block;
  } */

  .mid-header {
    display: none;
  }
  .mobile-menu {
    top: 45px;
  }
}

@media (max-width: 500px) {
  .header-container .btn {
    font-size: 13px;
  }

  .github-btn span {
    display: none;
  }

  /* currently right header only holdes
  dummy links, so hide on mobile */
}

@media (max-width: 350px) {
  .header-container .btn {
    font-size: 12px;
    border-radius: 8px;
    /* color: black; */
    padding: 4px;
  }
  .header-container {
    gap: 5px;
  }
}
